<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <!-- <p>
      I'm a computer science &amp; business student under Nanyang Technological University's 
      <a class="underline-link" href="https://www.ntu.edu.sg/rep/Pages/default.aspx" target="_blank">Renaissance Engineering Programme</a>. 
    </p> -->

    <p>
      I am Kelly, a Year 2 student pursuing a double major in <strong>Psychology</strong> and <strong>Marketing</strong> in Singapore 
      Management University.
    </p>

    <p>
      I am an <strong>enthusiastic</strong> and <strong>curious</strong> individual who is willing to learn.
      I love to find creative solutions to solve problems and I am always open to learning new cultures,
      opportunities and internships. I aspire to apply what I have learnt in my academics to businesses 
      and develop holistically as an individual. 
    </p>

    {% include employment-status.html %}


  </div>
</section>
