<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm a computer science &amp; business student under Nanyang Technological University's 
      <a class="underline-link" href="https://www.ntu.edu.sg/rep/Pages/default.aspx" target="_blank">Renaissance Engineering Programme</a>. 
    </p>

    <p>
      More about myself, I love solving math problems and I probably spend too much time on puzzle games. 
      The systematic and logical approach of identifying patterns and finding solutions in these games and problems 
      is incredibly satisfying, and this is also why coding and software engineering appeals to me. 
      I love learning more about these and I'm always open to <strong>learning opportunities, projects and internships.</strong>
    </p>


    <p>
      <strong>If you don't find me in front of a computer screen</strong>, it would mean that I'm probably in the gym, cheerleading, or 
      making myself a nice cup of coffee.
    </p>

    <!-- {% include employment-status.html %} -->

  </div>
</section>
