<section class="section skills">
  <div class="section__title">Education</div>
  <div class="section__content">
    <div class="jobs">
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            Singapore Management University
          </div>
          <div class="job__time">Aug 2019 - May 2023</div>
        </div>
        <div class="job__position">BSocSc - Double Major in Psychology and Marketing</div>
        <p>
          <strong>Relevant Coursework:</strong> Management Communications, Social Psychology, Research Methods<br>
          <strong>Certifications:</strong> Google Ads, Strategic Human Resources, Human Resources Foundations <br>
          <strong>Skills:</strong> Microsoft Excel, Microsoft Office, Google Products, Adobe Illustrator, Photoshop and Lightroom <br>
        </p>
      </div>
    </div>
  </div>
</section>
