<section class="section skills">
  <div class="section__title">Coursework</div>
  <div class="section__content">
    <p><strong>Currently pursuing:</strong> Bachelor of Social Sciences, Majoring in Psychology and Second Major in Marketing.
      <br>
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Computer Science</div>
        <ul>
          {% for course in site.data.coursework.cs %}
          <li class="skillz__category__item">{{course.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Mathematics</div>
        <ul>
          {% for thing in site.data.coursework.math %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Business</div>
        <ul>
          {% for thing in site.data.coursework.business %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
  
    </div>
  </div>
</section>
