<section class="section skills">
  <div class="section__title">Education</div>
  <div class="section__content">
    <p>
      <strong>Singapore Management University</strong><br>
      <em>Aug 2019 - May 2023</em><br>
      Bachelor of Social Sciences, Majoring in Psychology and Second Major in Marketing.
    </p>
    <p>
      <strong>Relevant Coursework:</strong> Management Communications, Social Psychology, Research Methods<br>
      <strong>Certifications:</strong> Google Ads, Strategic Human Resources, Human Resources Foundations <br>
      <strong>Skills:</strong> Microsoft Excel, Microsoft Office, Google Products, Adobe Illustrator, Photoshop and Lightroom <br>
    </p>
  </div>
</section>
